@charset "utf-8";
body {
}
.pagination .current.prev, .pagination .current.next {
    color: #999;
    border-color: #999;
    background: #fff;
    cursor: pointer;
}
.pagination a {
    text-decoration: none;
    border: 1px solid #AAE;
    color: #15B;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 0.1em 0.4em;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem !important;
}

.pagination .current {
    background: #26B;
    color: #fff;
    border: 1px solid #AAE;
    cursor: pointer;
}
.pagination-count {
    position: relative;
    float: left;
    color: #15B;
    padding: 5px 10px 0 0;
    font-size: 1.4rem !important;
}

